body{
    background-color:#ffffff;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
}

.container{
    background-color:#22c8ce;
    margin-left: 25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right:25rem ;
    padding: 1rem;
}

#formP, h2, h3, #sim, #nao{
    color:blue;
}

#pesq{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}

#envio {
    display: flex;
    justify-content: center; 
  }
  
  #envio .botao-envio {
    margin-left: 10px;
  }