body{
    background-color: blueviolet;
    font-size: 32px;
}

.container{
    display: flex;
    position: center;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    margin: 3rem;
    margin-left: 20rem;
    margin-right: 20rem;
    background-color: aliceblue;

}