body{
  background-color: rgb(197, 210, 224);
  display: flex;
  justify-content: center;
  align-items: center;
}


#texto {
    text-align: center;
    margin-bottom: 20px;
}


#janelaImagem {
  background-image: url('./img/closed.png');
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;

}

